<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130545012424-el38dug5dbl22q3idlr79go2nos4hloc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130545012424-el38dug5dbl22q3idlr79go2nos4hloc</string>
	<key>API_KEY</key>
	<string>AIzaSyC_psdLnek7nPFVkam_tc_ObhcmtF5_-vs</string>
	<key>GCM_SENDER_ID</key>
	<string>130545012424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UnknownGames.MovingSquare</string>
	<key>PROJECT_ID</key>
	<string>movingsquare-d2648</string>
	<key>STORAGE_BUCKET</key>
	<string>movingsquare-d2648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130545012424:ios:b61ec03bc224f38fcf9ffd</string>
</dict>
</plist>